.inicio {
  height: 100dvh;
  font-family: 'Inter', sans-serif;
}

.login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to left, #A46596 50%, #423FFB 80%); 
  padding: env(safe-area-inset-bottom);
}

.perfil {
  height: 100vh;
  background: linear-gradient(to left, #A46596 50%, #423FFB 80%); 
}
