.crearRegistroContainer {
  display: flex;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

.tituloRegistroContainer, .insercionDatosContainer {
  background-color: rgba(217, 217, 217, 0.7);
  border-radius: 25px;
  width: 90%;
  margin: 8px 0;
}

.tituloRegistroContainer {
  font-size: 25px;
  height: 80px;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.tituloRegistroContainer h1 {
  display: flex;
  align-items: center;
}

@media (width <= 500px) {
  .tituloRegistroContainer {
    font-size: 15px;
    height: 50px;
  }
}

.nombreInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.nombrePredicion {
  width: 400px;
  height: 30px;
  justify-content: start;
  padding-left: 10px;
  border: none;
  font-size: 20px;
  
}

.insercionDatosContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.encabezadoCrear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 15px;
}

.encabezadoCrear h1{
  font-size: 40px;
}

.encabezadoCrear svg {
  height: 60px;
  width: 60px;
  color: #131CE5;
  cursor: pointer;
}

.controlCrearRegistro{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.calculaButton, .cancelarButton {
  border: none;
  background-color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}


.formRegistro {
  font-size: 20px;
  padding: 20px;
  padding-top: 0px;
}

.datosRegistro {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}

.datosRegistro > label {
  display: block;
  padding: 10px 0;

}
.horasClase, .archivo {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

#horasClase {
  text-align: end;
  padding-right: 10px;
  font-size: 20px;
  border: none;
}

#archivoExcel {
  display: flex;
  flex-direction: row-reverse;
  width: 130px;
}

.button-file {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.file-name {
  font-size: 17px;
}

@media (width <= 670px) {
  .horasClase {
    flex-direction: column;
    gap: 10px;
  }

  #horasClase {
    width: 150px;
    height: 30px;
    text-align: start;
    padding-left: 10px;
  }

  .archivo {
    flex-direction: column;
    gap: 10px;
  }

  .button-file {
    justify-content: start;
    gap: 10px;
  }

  .calculaButton, .cancelarButton {
    width: 100px;
    height: 40px;
    font-size: 15px;

  }

  .nombreInput{
    flex-direction: column;
    align-items: start;
  }

  .nombrePredicion {
    width: 90%;
  }
}

@media (width <= 470px) {
  .encabezadoCrear {
    margin: 0;
    padding: 10px;
  }

  .formRegistro {
    padding: 0;
  }
  .datosRegistro {
    margin-left: 20px;
  }
}