
.contenido h2 {
  margin: 1rem 0;
  padding-right: 2rem;
}

.contenido p {
  margin: 1rem 0;
  padding-right: 2rem;
  text-align: justify;
}

.contenido ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

.contenido li {
  margin: 0.5rem 0;
}