.dropdown {
  position: relative;
  display: inline-block;
  width: 300px;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
}
.dropdown-toggle svg {
  height: 20px;
  width: 20px;
}

.dropdown-toggle span {
  font-size: 20px;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-option:hover {
  background-color: #eaeaea;
}

@media (width <= 390px) {
  .dropdown {
    width: 90%;
  }
}