.loginContainer {
  width: 350px;
  height: 530px;
  background-color: rgba(217, 217, 217, 0.7);
  /* background-color: #D9D9D9;
  opacity: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.loginContainer.rotate{
  animation: rotacion 10s infinite linear;
}

@keyframes rotacion {
  25%{ transform: rotate(90deg);}
  50%{ transform: rotate(180deg);}
  75%{ transform: rotate(270deg);}
  100%{ transform: rotate(360deg);}
}

.logoAccount {
  width: 120px;
  height: 120px;
  /* margin-top: 50px; */
}

.titleLogin {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  color: #000000;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.input-container-user {
  position: relative; /* Para posicionar el ícono */
  width: 300px; /* Ancho del contenedor */
}

.iconUser {
  position: absolute;
  left: 35px; /* Espacio desde el lado izquierdo */
  top: 42px; /* Centrar verticalmente */
  transform: translateY(-50%); /* Ajustar el centrado */
  font-size: 30px; /* Tamaño del ícono */
}

.buttonSubmit {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s ease;
}

@media (hover: hover) {
  .buttonSubmit:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}
.buttonSubmit:active {
  background-color: #000000; 
  color: #FFFFFF; 
}

.textPassword {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  margin-top: 13px;
  color: #131CE5;
}

a.buttonPassword {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: #131CE5;
}

@media (hover: hover) {
  a.buttonPassword:hover {
    color: black;
    font-weight: bolder;
  }
}
a.buttonPassword:active {
  color: black;
  font-weight: bolder;
}

.buttonShowPassword {
  width: auto;
  height: 10px;
  border: none;
  background: none;
  background-color: none;
  color: #000000;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin: 10px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  .buttonShowPassword:hover {
    color: rgb(32, 55, 255);
  }
}
.buttonShowPassword:active {
  color: rgb(32, 55, 255);
}


.eyePassword {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  /* position: absolute;
  transform: translateY(0%) translateX(-130%); */
}

.iconPassword {
  position: absolute;
  cursor: pointer;
  left: 35px; /* Espacio desde el lado izquierdo */
  top: 42px; /* Centrar verticalmente */
  transform: translateY(-50%) translateX(680%); /* Ajustar el centrado */
  font-size: 30px; /* Tamaño del ícono */
  background-color: #FFFFFF;
  border: none;
}

.buttonAccount {
  width: auto;
  height: 50px;
  border: none;
  background: none;
  background-color: none;
  color: #131CE5;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

@media (hover: hover) {
  .buttonAccount:hover {
    color: black;
  }
}
.buttonAccount:active { 
  color: black;
}

.formLogin input {
  width: 250px;
  height: 50px;
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: none;
  outline: none;  
  text-align: center;
  font-size: 20px;
  font-family: 'Inter', sans-serifs;
  font-weight: 500;
  color: #000000;
}

.badUser {
  padding-top: 10px;
  color: red;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
