.perfilContainer {
  display: flex;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  font-size: 2rem;
}

.barraPerfil, .barraContenido {
  background-color: rgba(217, 217, 217, 0.7);
  /* background-color: #D9D9D9;
  opacity: 70%; */
  border-radius: 25px;
  width: 90%;
  margin: 8px 0;
}

.barraPerfil {
  height: 80px;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: space-between;
}

.perfilNombre {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfilNombre svg, .perfilConfig svg {
  width: 50px;
  height: 50px;
}

@media (width <= 400px) {
  .perfilContainer {
    font-size: 1.8rem;
  }
  .barraPerfil {
    gap: 0;
    justify-content: center;

  }
  .perfilNombre {
    gap: 0;
  }
}

.perfilConfig {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.barraContenido {
  height: 80dvh;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perfilTable {
  display: grid;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  overflow: auto;

}


.perfilTableHead {
  text-align: center;
  color: white;
  background-color: black;
  border-top-left-radius:  25px;
  border-top-right-radius:  25px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfilTable tbody {
  height: 60dvh;
  overflow: auto;
}

.perfilTable tbody tr {
  display: grid;
  grid-template-columns: 3fr 2fr 0.5fr;
  background-color: white;
}

.perfilTable tbody tr button {
  background: none;
  border: none;
}

.perfilTable tbody tr button svg{
  height: 40px;
  width: 40px;
}

.perfilTable th {
  border-bottom: 4px solid rgb(168, 168, 168);
  width: 100%;
}
.perfilTable th:not(.prediccion) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediccion {
  display: flex;
  justify-self: start;
  align-items: center;
  cursor: pointer;
  padding-left: 50px;
}

.pieConfig{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.buttonInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #131CE5;
  margin-left: 30px;

  font-weight: 800;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
}
.delete{
  cursor: pointer;
}


.buttonInfo svg {
  margin-left: 5px;
}

.buttonNewPrediction {
  margin: 10px 30px;
  border: none;
  background-color: white;
  font-size: 15px;
  font-weight: 800;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

@media (width <= 500px) {
  .perfilTable {
    font-size: 15px; 
  }
  .buttonInfo {
    margin-left: 10px;
  }
  .buttonNewPrediction{
    margin-right: 10px;
  }
}
